==%s{<a href="http://localhost:3000/" style="position: fixed; display: block; top: 0px; left: 0px; z-index: 9999;" target="_blank" title="I love Barcelona Ruby Conference 2012"><img alt="I love Barcelona Ruby Conference 2012" height="110" src="http://assets.baruco.org/badges/fixed-left.png" width="110" /></a>}
