header#header
  headergroup
    h1 
      a href="/" Spinach
    h2
      | Spinach is a new awesome BDD framework that features <strong>encapsulation</strong> and 
      | <strong>modularity</strong> of your step definitions.
  ul#motto
    li <em>Features</em> are just <strong>objects</strong>
    li <em>Steps</em> can be extracted into <strong>modules</strong>
    li Supports <strong>Minitest</strong> and <strong>RSpec</strong>
    li On top of <em>Gherkin</em> - the same parser of <strong>Cucumber</strong>

navigation#menu
  a href="#getting_started" Getting started
  a href="#documentation" Documentation
  a href="#examples" Examples
  a href="#rational" Rationale
