header#header
  headergroup
    h1
      a href="/" Spinach
    h2
      | Spinach is a new awesome BDD framework that features <strong>encapsulation</strong> and
      |  <strong>modularity</strong> of your step definitions.
  ul#motto
    li <em>Features</em> are just <strong>Ruby objects</strong>
    li <em>Steps</em> can be extracted into <strong>modules</strong>
    li Supports <strong>Minitest</strong> and <strong>RSpec</strong>
    li Uses <em>Gherkin</em> - the parser behind <strong>Cucumber</strong>

navigation#menu
  a href="http://rubydoc.info/github/codegram/spinach/master/file/README.markdown" target="_blank" Getting started
  a href="http://github.com/codegram/spinach" target="_blank" Github
  a href="http://rubydoc.info/github/codegram/spinach/master" target="_blank" Documentation
  a href="http://codegram.github.com/spinach-presentation" target="_blank" Slides
